<!--
  source: https://www.w3schools.com/howto/howto_js_todolist.asp  (modified by netprogs.pl for the course purposes)
-->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/styles.css">
  </head>
    <body>
        {% block content %}{% endblock %}
        {% block javascripts_body %}

        {#{ encore_entry_script_tags('custom') }#}


        {% endblock %}
    </body>
</html>
